{{#if user}}
<div class="container" id="profile">
  <figure><img class="avatar-profile-view" style="width:10%;margin:40px auto;"src="{{user.avatar}}" alt="avatar"></figure>
  <a href="/usuario/editar/{{user._id}}"style="margin-bottom: 20px;"class="btn btn-light">Editar usuario</a>
  <p id="ranking" data-ranking={{numFavoursD}}> </p>
  <div class="title-carousel">
   <h2 class="profile-favours"><img src="https://img.icons8.com/office/40/000000/receive-cash.png"/>  Favores recibidos</h2>
  </div>
  
  {{#if favoursDone}}
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {{#each listFavs}}
        {{#unless finished}}
        <li class="glide__slide">
         
          {{>favourElmList}}
        </li>
        {{else}}
        <p>¿Necesitas más favores?</p>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}

  <div class="title-carousel">
  <h2 class="profile-favours"><img src="https://img.icons8.com/emoji/48/000000/check-box-with-check-emoji.png"/>  Favores realizados </h2>
  </div>

  <div class="container">
    <ul>
      <div class="row justify-content-center">
      {{#each favoursDone}}
      <div class="col-md-4">
        <li class="given-favour-user-elm">
         {{>favourElmList}}
        </li>
       </div>
        {{/each}}
      </div>
    </ul>
   
  </div>
<form method="POST" action="/usuario/dar-de-baja/{{user._id}}">
<button type="submit" class="btn btn-light" style="margin: 70px 0;">Darse de baja</button>
</form>

</div>

{{/if}}


<script src="../../javascripts/ranking.js"></script>
<script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.min.js"></script>

<script>
  new Glide('.glide', {
    type: 'carousel',
    perView: 4,
    gap: 90,
    autoplay: 3000,
    {{!-- animationTimingFunc: 'linear', --}}
    animationDuration: 800,
    breakpoints: {
    200: {
      perView: 1
    },
    300: {
      perView: 1
    },
    500: {
      perView: 1
    },
    800: {
      perView: 2
    },
    1000: {
      perView: 3
    },
    1200: {
      perView: 4
    }
  }
  }).mount()  
</script>