{{#if user}}
<div class="container">

  <a href="/">Index</a>
  <a href="/favores">Lista de favores</a>
  <a href="/usuario/editar/{{user._id}}">Editar usuario</a>
  <p id="ranking"> {{numFavoursD}}</p>
  <form method="POST" action="/usuario/dar-de-baja/{{user._id}}">
    <button type="submit" class="btn btn-light">Darse de baja</button>
  </form>
  <div class="title-carousel">
    <figure><img class="avatar-profile-view" src="{{user.avatar}}" alt="avatar"></figure>
    <h2>Favores recibidos</h2>
  </div>

  {{#if favoursDone}}
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {{#each listFavs}}
        {{#unless finished}}
        <li class="glide__slide">
          <figure><img class="logo-small-profile-carousel" src="../../images/logo_small.png" alt="logo small"></figure>
          {{>favourElmList}}
        </li>
        {{else}}
        <p>no tienes favores en proceso</p>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <hr>
  {{/if}}

  <div class="title-carousel">
    <figure><img class="avatar-profile-view" src="{{user.avatar}}" alt="avatar"></figure>
    <h2>Favores realizados</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          {{#each favoursDone}}
          <li class="given-favour-user-elm">
            <figure><img class="logo-small-profile-list" src="../../images/logo_small.png" alt="logo small"></figure>
            {{>favourElmList}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

{{/if}}


<script src="../../javascripts/ranking.js"></script>
<script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.min.js"></script>

<script>
  new Glide('.glide', {
    type: 'carousel',
    perView: 6,
    gap: 90,
    autoplay: 3000,
    {{!-- animationTimingFunc: 'linear', --}}
    animationDuration: 800,
    breakpoints: {
    200: {
      perView: 1
    },
    300: {
      perView: 2
    },
    500: {
      perView: 3
    },
    800: {
      perView: 4
    },
    1200: {
      perView: 5
    }
  }
  }).mount()  
</script>