<div>Private page</div>
{{#if user}}
<div>
  <h1>Who's the best developer?</h1>
  <figure><img src="{{user.avatar}}" alt="avatar"></figure>

    <hr>
  <div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {{#each user}}
      <li class="glide__slide">

        <h1>{{username}}</h1>
        {{!-- <h3>{{title}}</h3> --}}
        <figure><img src="{{avatar}}" alt="avatar"></figure>

        </li>
      {{/each}}      
    </ul>
  </div>
</div>
</div>
<hr>

  <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
  <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
  <a href="/">Index</a>
  <a href="/favores">Lista de favores</a>
  <a href="/usuario/editar/{{user._id}}">Editar usuario</a>
  <form method="POST" action="/usuario/dar-de-baja/{{user._id}}">
    <button type="submit" class="btn btn-dark">Darse de baja</button>
  </form>

{{/if}}

<script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.min.js"></script>

<script>
  new Glide('.glide', {
  type: 'carousel',
  startAt: 0,
  perView: 3
}).mount()
</script>