
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Editar</h1>
            <hr>
            <form method="POST" action="/usuario/editar/{{_id}}">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input name="username" type="text" class="form-control" id="username" value="{{username}}">
                </div>
             
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input name="avatar" type="text" class="form-control" id="avatar" value="{{avatar}}">
                </div>
                <div class="form-group">
                    <label for="description"> Descripción</label>
                    <input name="description" type="text" class="form-control" id="description" value="{{description}}">
                </div>
                {{!-- <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="password" value="{{password}}">
                </div> --}}
                <button type="submit" class="btn btn-light">Guardar cambios</button>
                <a href="/private" class="btn btn-outline-light">Perfil</a>
            </form>
        </div>
    </div>