<div class="container">
  <div class="row justify-content-center">
    <h2> Detalles Favores</h2>
    <hr>
    <div class="col-md-12">
      <ul>
        <li class="favourList">
          <p>{{title}}</p>
          <p>{{description}}</p>
          <p>{{address}}</p>
          <p>{{status}}</p>
          <a class="btn btn-success" href="/favores/editar/{{_id}}">Editar</a>
          <button id="hacerFav" type="button" class="btn btn-success">Hacer favor</button>
          <a href="/favores" class="btn btn-success">Favores</a>
          <form method="POST" action="/favores/eliminar/{{_id}}">
            <button type="submit" class="btn btn-success">Borrar</button>
          </form>
          <hr>
        </li>
      </ul>
    </div>
    <script src="/javascripts/status.js"></script>
  </div>